* {
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
}

.menu {
    width: 100%;
    height: 110px;
    background-color: white;
    border-bottom: 3px solid red;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    margin-right: 50px;
}

.logo img {
    width: 115px;
}

.links ul,
li {
    display: flex;
}

.links li {
    padding: 20px;
}

.links a {
    font-size: 16px;
    color: black;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 600;
    transition: 0.5s;
}

.links a:hover {
    color: #ec3333;
}

.btnORder {
    margin-left: 50px;
}

.btnORder button {
    width: 226px;
    height: 66px;
    background-color: #ec3333;
    border: 1px solid #ec3333;
    border-radius: 10px;
    transition: 0.8s;
    cursor: pointer;
}

.btnORder button:hover {
    background-color: black;
    border: 1px solid black;
}

.btnORder a {
    font-size: 16px;
    color: white;
    font-family: "Montserrat", sans-serif;
    text-decoration: none;
    font-weight: 600;
}

.grillFree {
    background-image: url('IMAGE/banner.webp');
    background-size: cover; /* Ajusta a imagem para cobrir toda a área */
    background-position: center; /* Centraliza a imagem na tela */
    width: 100%;
    height: 100vh; /* 100% da altura da viewport */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 400px;
    overflow-x: hidden; /* Esconde a barra de rolagem horizontal */
}


.text h1 {
    font-size: 115px;
    color: white;
    font-family: 'Monstserrrat', sans-serif;
    font-weight: 900;
}

.text p {
    font-size: 16px;
    color: white;
    font-family: 'Monstserrrat', sans-serif;
}

.allBtns {
    width: 990px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 50px;
}

.btnBuy {
    margin-right: 20px;
}

.btnBuy button {
    width: 197px;
    height: 64px;
    background-color: #ec3333;
    border: 1px solid #ec3333;
    border-radius: 10px;
    transition: 0.8s;
    cursor: pointer;
}

.btnBuy button:hover {
    background-color: black;
    border: 1px solid black;
}

.btnBuy a {
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.btnAllBurguers button {
    width: 236px;
    height: 64px;
    border: 2px solid white;
    border-radius: 10px;
    background-color: rgb(255, 0, 0, 0.0);
    transition: 0.8s;
    cursor: pointer;
}

.btnAllBurguers button:hover {
    background-color: #ec3333;
    border: 1px solid #ec3333;
}

.btnAllBurguers a {
    font-size: 16px;
    font-weight: 600;
    color: white;
    text-decoration: none;
}

.ChosseEnjoy {
    width: 100%;
    height: 800px;
    padding-top: 130px;
    display: flex;
    align-items: center;

    flex-direction: column;
}


.textEnjoy span {
    font-size: 45px;
    color: black;
    font-weight: 800;

}

.textEnjoy p {
    font-size: 14px;
    color: black;
    margin-top: 20px;
}

.burguesType {
    padding-top: 60px;
    transition: 0.9s;

}

.imgBurguer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 270px;
    height: 250px;
    border: 1px solid rgb(0, 0, 0, 0.5);
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.imgBurguer img {
    width: 130px;
    margin-bottom: 10px;
}

.description h1 {
    font-size: 25px;
    color: black;
    font-weight: 800;
    margin-bottom: 20px;
}

.description p {
    font-size: 16px;
    color: #767676;
    text-align: center;
}

.description {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.btnShop button {
    width: 270px;
    height: 50px;
    background-color: #ec3333;
    border: 1px solid #ec3333;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
}

.btnShop a {
    font-size: 14px;
    color: white;
    text-decoration: none;
    font-weight: 600;

}

.btnShop button:hover {
    background-color: #000000;
    border: none;
}

.allHamburguers {
    display: flex;
}

.fromChef {
    width: 100%;
    height: 600px;
    background-color: #FF8A00;
    display: flex;
}

.fromChefText {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.fromChefText h1 {
    font-size: 45px;
    color: white;
    font-weight: 900;
    margin-bottom: 20px;
}

.fromChefText p {
    font-size: 16px;
    color: white;
    font-weight: 500;
    margin-bottom: 50px;
}

.btnChefLove button {
    width: 244px;
    height: 64px;
    background-color: #ec3333;
    border: 1px solid #ec3333;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
}

.btnChefLove button:hover {
    background-color: #000000;
    border: 1px solid black;
}

.btnChefLove a {
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.fromChefImg {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.left {
    margin-right: 30px;
}

.delivery {
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deliveryRigth h1 {
    font-size: 45px;
    color: black;
    font-weight: 900;
    margin-bottom: 20px;
}

.deliveryRigth p {
    font-size: 16px;
    color: black;
    font-weight: 500;
    margin-bottom: 50px;
}

.btnDelivery button {
    width: 226px;
    height: 64px;
    background-color: #ec3333;
    border: 1px solid #ec3333;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.8s;
}

.btnDelivery button:hover {
    border: 1px solid black;
    background-color: black;
}

.btnDelivery a {
    font-size: 16px;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.marginDelivery {
    margin-left: 30px;
}

.deliveryLeft img {
    margin-right: 30px;
}

footer{
    width: 100%;
    height: 200px;
    background-color: #262626;
}

.footerDelivery {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoEicons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logoEicons img {
    width: 100px;
    margin-bottom: 20px;
}

.icons i {
    cursor: pointer;
    margin: 5px;
}
